/* ul{
    padding: 0;
}
li{
    list-style-type: '';
    list-style-position: inside;
}
ol > li::before{
content: '';
display: inline-block;
background-color: magenta;
width: 10px;
height: 10px;
border-radius: 50%;
margin-left: 15px;
} */
*{ 
    font-size: 25px;
} 
h2{
    text-align: center;
}
.zim{ 
    color: blue; 
} 
.zim > ol > li{ 
    list-style-type: none; 
} 
.zim >ol> li::before{ 
    content: ''; 
    width: 15px; 
    height: 15px; 
    display: inline-block; 
    background-image: url(img/snow.png); 
} 
.vec{ 
    color: green; 
} 
.vec > ol > li{ 
    list-style-type: none; 
} 
.vec >ol> li::before{ 
    content: ''; 
    width: 15px; 
    height: 15px; 
    display: inline-block; 
    background-image: url(img/leaf.png); 
 
} 
.let{ 
    color: yellow; 
} 
.let > ol > li{ 
    list-style-type: none; 
} 
.let >ol> li::before{ 
    content: ''; 
    width: 15px; 
    height: 15px; 
    display: inline-block; 
    background-image: url(img/sun.png); 
 
} 
.oce{ 
    color: orange; 
} 
.oce > ol > li{ 
    list-style-type: none; 
} 
.oce >ol> li::before{ 
    content: ''; 
    width: 15px; 
    height: 15px; 
    display: inline-block; 
    background-image: url(img/rain.png); 
 
}
